.liste	{
	padding : 25px 20px 0px 20px ;
}

.news	{
	text-align : justify ;
	text-indent: 4em;
	padding-left : 10px ;
}
.slime-text 	{
	margin: 15px 0px -8px 0px ;
}
.slime-text a:hover 	{
	text-decoration : none ;
}

.log	{
	border-collapse: separate;
	border-spacing: 10px 5px;
}

.flag	{
	height : 35px ;
	margin-left:0px;
}
.languemenu	{
	height:35px ;
}

.nav li.notification	{
	height: 59px ;
	padding: 0 8px 0 5px ;
}
.nav li.notification a.admin-boutton	{
	margin-top : 9px ;
	padding : 10px;
	width : 40px ;
	height : 40px ;
	background-color : #ffffff;
	color: #2e3436;
	border : 2px solid grey;
	/*box-shadow: 0px 0px 1px #888888;*/
	border-radius:25px;
	white-space: nowrap;
	transition: all 0.5s;
}
.nav li.notification a.admin-boutton .badge	{
	float: right;
	margin: -15px -15px 0px ;
	background-color: red;
	font-weight: bold ;
}
.nav li.notification a.admin-boutton:hover 	{
	background-color : #1abc9c ;
}

.nav li.notification a.admin-boutton .glyphicon	{
	font-size: 1.2em ;
}
.nav li.notification a.admin-boutton b	{
	font-size: 1.5em ;
}
