table	{
	border-collapse: collapse;
	width: 400px;
	margin: auto;
	border-radius: 17px;
	
	background-color: GhostWhite;
}
tr {
	border-radius: 15px;
}
th, td	{
	padding: 15px;
	margin: 0px;
}

th	{
	text-align : center;
	background-color: SkyBlue ;
	color: GhostWhite;  
	font-size: 3em;
	border : 0px;
	border-radius: 15px 15px 0px 0px;
}

td	{
	text-align: justify;
	border-bottom: 1px solid LightGrey;
	padding: 10px;
	padding-top : 13px;
	padding-bottom: 13px;
	font-size: 1.1em;
}

#tablefoot	{
	font-size: 0.8em;
	font-style: italic;
	color: DimGrey;
	border: 0px;
	text-align: center;
}
